
.Home2_wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}
.home_2_button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #000;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .home_2_button:hover {
    background-color: #00000062;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .home_2_button:active {
    background-color: #00000082;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .home_2_texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .home_2_texts_1{

    font-size: 65px;
    font-weight: 700;
    letter-spacing: -3px;
  }

  .home_2_texts_2{

    font-size: 65px;
    font-weight: 700;
    letter-spacing: -3px;


  }

  .home_2_imgs{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeba9;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 40px;
    backdrop-filter: brightness( 103% ) contrast( 100% ) saturate( 100% ) blur( 20px ) hue-rotate( 0deg );
    gap: 20px;
  }

  .home_2_img-1{

    width: 350px;
    height: auto;
  }
  .home_2_img-2{

    width: 400px;
    height: auto;


  }
  .home_2_img-3{

    width: 400px;
    height: auto;
  }

  @keyframes upAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the distance of the bounce */
    }
  }

  @keyframes DownAndup {
    0%, 100% {
      transform: translateY(-15px);
    }
    50% {
      transform: translateY(0px); /* Adjust the distance of the bounce */
    }
  }
  
  .home_2_img-1 {
    animation: upAndDown 5s infinite; /* Adjust the duration of the animation */
  }
  .home_2_img-2 {
    animation: DownAndup 5s infinite; /* Adjust the duration of the animation */
  }
  .home_2_img-3 {
    animation: upAndDown 5s infinite; /* Adjust the duration of the animation */
  }

  @media screen and (max-width: 768px) {
    .home_2_texts_1,
    .home_2_texts_2 {
        font-size: 22px; 
        letter-spacing: -1px;
        text-align: center;
    }
    .home_2_img-3,.home_2_img-2,.home_2_img-1{
      width: 300px;
    }

    .home_2_imgs{
      flex-direction: column;
    }

    .home_2_button{
      padding: 6.5px 11px;
    }

    .home_2_texts{

      margin-top: 30px;
      margin-bottom: 30px;

    }
}