
.Home2_wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
}
.home_2_button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #000;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .home_2_button:hover {
    background-color: #00000062;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .home_2_button:active {
    background-color: #00000082;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }